*{
    direction: rtl;
    font: arial;
}
a{
    text-decoration: none;
}
.collapse navbar-collapse{
    display:flex;
    justify-content: space-between;
} 
.first{
    margin: 30px 0px;
}
.card-img-top{
    height: 32vh;
}
.col{
     display: flex;
    justify-content: space-between; 
    flex-grow: 1;
}
#mini-text{
    text-decoration: underline 2px solid rgb(184, 45, 45);
    padding: 10px;
}
.star{
    display: flex;
    flex-direction:row ;
    

}

footer{
    background-color: rgba(66, 62, 62, 0.938);
    color: rgba(231, 221, 221, 0.856);
    display: grid;
    grid-template-columns:  3.5fr 1.5fr;
    padding: 10px;
    margin-top: 45px;
}
.about h4{
    margin: 25px 20px 15px;
}

.link span{
    text-align: center;
    
}
#follow{
    margin-top: 25px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
footer + ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.links .fab{
    color: rgba(231, 221, 221, 0.856);
}
