*{
    direction: rtl;
    text-align: right;
    font: arial;
}
a{
    text-decoration: none;
}
header{
    text-align: right;
}
.navbar{
    margin: 0;
    padding: 0;
    height: 0.5%;
    
}

.navbar-nav{
    font-size: x-large;
    width: 25%;
}

.first{
    margin: 30px 0px;
}
h5{
    text-align: center;
    font-weight: 500;
}
.carousel-item img{
    width: 100%;
    height: 50%;
}

.container-fluid{
    margin: 25px 0px;
}
.card-img-top{
    height: 32vh;
}
.col{
     display: flex;
    justify-content: space-between; 
    flex-grow: 1;
}

#mini-text{
    padding: 10px;
    border-bottom:4px solid rgb(184, 45, 45);
    display: inline-block;
    width: auto;
}
#mini-text:hover{
    box-shadow: ;
    border-bottom:3px solid rgb(184, 45, 45);
}

.star{
    display: flex;
    flex-direction:row-reverse ;
    align-items: flex-start;

}

.star-icon .far{
    color: gold;
}
.buttens button i:hover{
    transition: margin-right 2s;;
}
footer{
    background-color: rgba(66, 62, 62, 0.938);
    color: rgba(231, 221, 221, 0.856);
    display: grid;
    grid-template-columns:  3.5fr 1.5fr;
    padding: 10px;
    margin-top: 45px;
}
#about{
    margin: 20px 20px 15px;
}

.link span{
    text-align: center;
    
}
.row > p{
    margin: 15px 10px 15px; 
}
#follow{
    margin-top: 20px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
footer + ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.links .fab{
    color: rgba(197, 184, 184, 0.856);
}
